# Ignore virtual environment directory
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore data directory (user data)
lib/data/

# Ignore other sensitive information
settings.json

# Ignore develop files
print.py
printed.txt
